#battle-id-1,
#battle-id-2 {
    width: 6.5rem;
}

#battleBtn img {
    width: 1rem;
}

thead td {
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}

#compareTable>tr>td:nth-child(1),
#battleBtn {
    text-align: center;
    vertical-align: middle;
}

#compareTable>tr>td:nth-child(1) img,
#battleBtn img {
    display: block;
    margin: auto;
}


#compareTable>tr>td:nth-child(3),
#compareTable>tr>td:nth-child(2) {
    text-align: right;
}

.table-container {
    overflow-x: auto;
    max-width: 90vw;
}

.dark .green {
    background-color: darkgreen !important;
}
.dark .red {
    background-color: darkred !important;
}
.dark .yellow {
    background-color: #393E46!important;
}