.material-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Roboto', sans-serif;
  width: fit-content;
  margin: 20px;
}

.material-input {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 6px 8px 6px 12px;
  font-size: 16px;
  width: 8rem;
  outline: none;
  transition: border-color 0.3s;
  background-color: white !important;
  border-radius: 1rem;
}

.material-input:focus {
  border-bottom: 2px solid #3f51b5;
}

.material-button {
  background-color: #3f51b5;
  color: white;
  border: none;
  padding: 6px 14px;
  font-size: 16px;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.2s;
}

.material-button:hover {
  background-color: #303f9f;
}



@media (max-width: 600px) {
  .material-bar {
    width: 85vw;
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between
  }

  #wcaIdInput {
    width: 50vw;
  }

  #lookupBtn {
    width: 30vw;
    min-width: 5rem;
  }
}