body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f4f4f4;
    width: fit-content;
    max-width: 90vw;
    margin: 0 auto;
}

h2 {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    margin: 0 auto;
}

.card {
    margin-top: 20px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    width: fit-content;
    max-width: 80vw;
    margin: 0 auto 1rem auto;
}

#info {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 5px;
    background: #f4f4f4;
}

#info-text {
    padding: 0 0 0 1rem;
}

#info-other {
    padding-top: 1rem;
}

#info-other span {
    white-space: nowrap;
    display: inline-block;
    padding-right: 1rem;
    padding-bottom: 0.4rem;
}

#info-avator img {
    border-radius: 5px;
}

#gradeTable,
#table-container {
    overflow-x: auto;
    max-width: 90vw;
}

table {
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: auto;
    width: max-content;
}

#event-cell {
    text-align: center;
}

th,
td {
    padding: 4px 12px;
    text-align: left;
    white-space: nowrap;
}

th {
    background-color: #f5f5f5;
    color: #2b2b2b;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #e0e0e0;
    /*text-align: center;*/
}

th.score {
    background-color: antiquewhite;
}

td {
    color: #212121;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s;
}

td.score {
    background-color: rgb(255, 248, 239);
    font-style: italic;
}

tr:hover {
    background-color: #f1f1f1;
}

.sticky-col {
    position: sticky;
    left: 0;
    z-index: 2;
}

#info {
    display: flex;
}

#info-name {
    font-size: 1.5REM;
    font-weight: 600;
}

#overallScore,
#scoreOfMyEvents {
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 5px;
    width: fit-content;
}

#scores {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly
}

.hidden {
    display: none;
}

@media (max-width: 600px) {
    #info {
        flex-direction: column;
        align-items: center;
    }

    header {
        flex-direction: column;
    }

    h2,
    h3 {
        margin-bottom: 0;
        padding: 0;
    }

    #info-name {
        text-align: center;
    }

    .card {
        max-width: none;
        width: 100vw;
        margin-right: 0;
        box-sizing: border-box;
        border-radius: 0;
    }

    body {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        max-width: none;
        width: 100vw;
    }

    header {
        margin: 0 auto;
    }

    #scores {
        flex-direction: column;
        background-color: antiquewhite;
        border-radius: 5px;
    }

    #overallScore,
    #scoreOfMyEvents {
        background-color: transparent;
        padding: 0.5rem;
        border-radius: 5px;
        width: fit-content;
    }

    th,td{
        padding: 2px 4px;
        border: 1px solid #2b2b2b;
    }

}